    <footer class="footer">
    <ul class="footer--list">
        <li class="footer--list--element">
            <span class="footer--list--element--title">Address</span>
            <p itemprop="streetAddress">Rue des Pères Blancs 4</p>
            <p><span itemprop="postalCode">1040</span> <span itemprop="addressLocality">Brussels</span> (BELGIUM)</p>
        </li>
        <li class="footer--list--element">
            <span class="footer--list--element--title">Phone & email</span>
            <p itemprop="telephone">+32 (0) 2/740.43.54</p>
            <p><a href="mailto:info@sagacify.com" itemprop="email">info@sagacify.com</a></p>
        </li>
        <li class="footer--list--element">
            <span class="footer--list--element--title">Social network</span>
            <a href="https://www.facebook.com/Sagacify"><span class="footer--list--element--icon icon" data-icon="a"></span></a>
            <a href="https://twitter.com/Sagacify"><span class="footer--list--element--icon icon" data-icon="c"></span></a>
            <a href="https://www.linkedin.com/company/sagacify"><span class="footer--list--element--icon icon" data-icon="g"></span></a>
        </li>
    </ul>
</footer>

</section>

<section class="loading">
    <img src="img/base/Logo.svg" alt="">
</section>
    <!-- Javascript -->
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>
