<style>
  .partners {
    padding: 30px;
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: -100px;
  }

  .partners .partners-logo {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    width: auto;
  }
</style>

<div class="partners">
  <img class="partners-logo" src="img/logos/brussels-capital-region.png" alt="Région de Bruxelles-Capitale" />
  <img class="partners-logo" src="img/logos/invest-export-brussels.png" alt="Invest Export Brussels" />
</div>
