<%- include partials/top.ejs %>

	<section class="about">
		<div class="wrapper">
			<div class="keymessage">
	<h2 class="keymessage--keyphrase">About Us</h2>
	<h3 class="keymessage--tagline">We help you realise the Data Advantage</h3>
</div>			<ul class="blocks">
				<li class="blocks--element blocks--image blocks--greenshadow data-right data--count botIndex" data-width="20" data-left="20" data-top="1" data-parralax="-1">
					<figure class="blocks--image--figure">
						<img src="img/misc/icab.jpg" alt="ICAB">
					</figure>
				</li>
				<li class="blocks--element data-left" data-left="0" data-top="0" data-width="22">
					<h2 class="blocks--element--title">Vision</h2>
					<p class="blocks--element--text">We believe that business strategy will be increasingly shaped by insights from the growing world of complex online data. <strong>Big data</strong> technologies are constantly evolving and mastering them is a business of its own. Sagacify’s mission is to work with its clients to help them tackle this complex challenge. We aim to <strong>unearth valuable insights </strong> not just from company data, but from data that lies outside of internal reporting systems so companies can make more timely decisions based on accurate analyses, providing them with an increased capacity to take action and drive their business forward.</p>
				</li>
			</ul>
			<ul class="blocks">
				<li class="blocks--element blocks--iconbig blocks--iconbig--device data-left data--count" data-width="10" data-left="4" data-top="2" data-parralax="0">
					<figure class="blocks--image--figure">
						<img src="img/icons/datapp.svg" alt="Data science and software development">
					</figure>
				</li>
				<li class="blocks--element data-right" data-left="15" data-width="24" data-top="1">
					<h2 class="blocks--element--title">What We Do</h2>
					<p class="blocks--element--text">We solve big data problems by operating in the space where <strong>data science</strong> intersects <strong>software development</strong>. We borrow the good parts from each of these areas, enabling our clients to make sense of their data and deliver next generation data-driven products to their consumers.</p>
					<p class="blocks--element--text">We leverage <strong>big data</strong>, <strong>machine learning</strong>, <strong>software development</strong> and <strong>cloud computing</strong> to craft solutions, fuel innovation and deliver advanced analytics. By applying complex algorithms we reveal new data patterns and relationships in Big Data, structuring complex data to maximize its value within an organization.</p>
				</li>
			</ul>
			<ul class="blocks">
				<li class="blocks--element data-right topIndex data-left data--count" data-left="0" data-width="24" data-top="2">
					<h2 class="blocks--element--title">Our Values</h2>
					<p class="blocks--element--text"> As a tech startup, we are inspired by breakthrough <strong>innovation</strong>, the lean startup methodology and open source technologies that allows us to deliver innovative products in an agile, fast and efficient way to our clients.</p>
					<p class="blocks--element--text">Our team is passionate about excellence in <strong>computer science</strong>. We value high software development quality, security, data privacy and state-of-the art technologies. This allows the creation of efficient, maintainable and evolutive solutions that are beautiful, easy to use and valuable.</p>
					<p class="blocks--element--text"><strong>Client satisfaction</strong> is at the heart of our service. We accompany them through the process of defining their business need and take in charge the technological side, acting like their IT partner.
					</p>
				</li>
				<li class="blocks--element blocks--iconbig blocks--iconbig--device data-right" data-reset="true" data-width="14" data-left="25" data-top="-6" data-parralax="-2">
					<figure class="blocks--image--figure">
						<img src="img/icons/hands.svg" alt="Data hand - Improving your company’s decision-making">
					</figure>
				</li>
			</ul>
			<ul class="blocks">
				<li class="blocks--element data-right data--count" data-left="16" data-width="24" data-top="2">
					<h2 class="blocks--element--title">Our Culture</h2>
					<p class="blocks--element--text"> Our company is all about our <strong>people</strong>. We are following the Holacracy management principles. Everyone are being assigned responsibilities on projects depending on their skills and development paths. Everyone is free to speak up, suggest creative approaches and contribute to the making of solutions. We want our people to develop those skills that are in-line with their interests. <strong>Flexibility</strong> is at the heart of our work philosophy – you are free to shape your own schedule at Sagacify, as long as you get the work done.</p>

					<p class="blocks--element--text"> Our team inspire original, inventive thought across the company in all that we do. We use open source tools when possible, contribute to the open source community, and engage in projects that will likely have a positive contribution to society. </p>
		</div>
	</section>
<%- include partials/bottom.ejs %>
