<% var selected='careers'%>
<% var title='Careers'%>
<%- include partials/top.ejs %>

  <section class="careers">
    <div class="wrapper">
      <div class="keymessage">
      <h2 class="keymessage--keyphrase">Careers</h2>
      <h3 class="keymessage--tagline">If you think you might be a good fit for us, give us a shout out!</h3>
    </div>
      <div class="onepositioncontent">
        <article class="onepositioncontent--article">
          <figure class="onepositioncontent--article--figure">
            <img src="img/dev/blogpost-pic.jpg" alt="">
          </figure>
          <div class="onepositioncontent--article--text">
            <h2 class="onepositioncontent--article--text--title">
              There are currently no vacancies available
            </h2>
          </div>
        </article>

        <div class="careers--noposition">
          <h2 class="careers--noposition--title">No vacancy suited to you?</h2>
          <p class="careers--noposition--paragraph">If you believe you are the person we would like to work with, please send us an email at <a href="mailto:info@sagacify.com?">info@sagacify.com</a> with your resume (+ LinkedIn) along with links to projects you have been working on.</p>
        </div>
      </div>
    </div>
  </section>

<%- include partials/bottom.ejs %>
