<% var selected='careers'%>
<% var title='Careers'%>
<%- include partials/top.ejs %>

  <section class="careers">
    <div class="wrapper">
      <div class="keymessage">
      <h2 class="keymessage--keyphrase">Careers</h2>
      <h3 class="keymessage--tagline">If you think you might be a good fit for us, give us a shout out!</h3>
    </div>
      <div class="onepositioncontent">
        <article class="onepositioncontent--article">
          <figure class="onepositioncontent--article--figure">
            <img src="img/dev/blogpost-pic.jpg" alt="">
          </figure>

          <div class="onepositioncontent--article--text">
            <h2 class="onepositioncontent--article--text--title">
              Backend dev
            </h2>

            <h3 class="onepositioncontent--article--text--subtitle">
              Why you will love working with us?
            </h3>

            <ul class="onepositioncontent--article">
              <li>Work on a global product that inspires major companies</li>
              <li>With great power comes great responsibility, access to the infrastructure comes with your laptop!</li>
              <li>Take charge of and responsibility for your projects from day one</li>
              <li>Improve your skills and stay up-to-date with the latest technologies</li>
              <li>Work with the whole sagacify team on the full system, where good ideas count more than hierarchies. You know the big picture not only a subsystem</li>
              <li>Work in an environment best for you supported by our remote working culture.</li>
              <li>Join us for team gatherings in several awesome locations several times a year.</li>
            </ul>

            <h3 class="onepositioncontent--article--text--subtitle">
              What we will love working with you?
            </h3>

            <ul class="onepositioncontent--article">
              <li>Are highly self-driven, responsible and keen to learn & improve</li>
              <li>Know your toolkit - git, bash, unit testing, docker and your favorite IDE</li>
              <li>Have strong experience (2+ years) in developing distributed and resilient applications at web-scale</li>
              <li>Are fluent in NodeJS and interested in Python</li>
              <li>Experience with relational and nonrelational databases</li>
              <li>Experience with messaging architectures (RabbitMQ/Kafka)</li>
              <li>Experience with Amazon Web Services integrations (S3, SQS, SNS, etc...)</li>
              <li>Know Server, network, and hosting environment</li>
              <li>Know how to interact with APIs and the external world</li>
              <li>Focus on quality assurance and security concerns throughout the program</li>
              <li>Used to monitor your application (new relic, ELK, …)</li>
              <li>Live, breathe and believe in automated testing, continuous deployment, monitoring and open communication</li>
            </ul>

            <h3 class="onepositioncontent--article--text--subtitle">
              You wanna join the ride?
            </h3>

            <p>Send us the following:</p>
            <ul class="onepositioncontent--article">
              <li>Your CV (online CV and linkedin profile are welcome)</li>
              <li>Examples of your work (e.g. GitHub, PDFs, Slideshare, etc.)</li>
              <li>Tell us a little more about you. OSM, Twitter, Tumblr, Flickr or your website, show us your out-of-work interests</li>
            </ul>

            <p class="careers--apply">
              <a class="btn" href="mailto:info@sagacify.com">Apply</a>
            </p>
          </div>

          <div class="onepositioncontent--article--text">
            <h2 class="onepositioncontent--article--text--title">
              Front end dev
            </h2>

            <h3 class="onepositioncontent--article--text--subtitle">
              Why you will love working with us?
            </h3>

            <ul class="onepositioncontent--article">
              <li>Work on a global product that inspires major companies</li>
              <li>With great power comes great responsibility, access to the infrastructure comes with your laptop!</li>
              <li>Take charge of and responsibility for your projects from day one</li>
              <li>Improve your skills and stay up-to-date with the latest technologies</li>
              <li>Work with the whole sagacify team on the full system, where good ideas count more than hierarchies. You know the big picture not only a subsystem</li>
              <li>Work in an environment best for you supported by our remote working culture.</li>
              <li>Join us for team gatherings in several awesome locations several times a year.</li>
            </ul>

            <h3 class="onepositioncontent--article--text--subtitle">
              What we will love working with you?
            </h3>

            <ul class="onepositioncontent--article">
              <li>Are highly self-driven, responsible and keen to learn & improve</li>
              <li>Know your toolkit - git, bash, unit testing, docker and your favorite IDE</li>
              <li>Have strong experience (2+ years) in developing distributed and resilient applications at web-scale</li>
              <li>Are fluent in Javascript / HTML / CSS</li>
              <li>Experience in React js / Redux (or alternatives)</li>
              <li>React Native is a plus</li>
              <li>Know how to interact with APIs and the external world</li>
              <li>Focus on quality assurance and security concerns throughout the program</li>
              <li>Used to monitor your application (new relic, ELK, …)</li>
              <li>Being ready to work with automated testing, continuous deployment, monitoring and open communication</li>
            </ul>

            <h3 class="onepositioncontent--article--text--subtitle">
              You wanna join the ride?
            </h3>

            <p>Send us the following:</p>
            <ul class="onepositioncontent--article">
              <li>Your CV (online CV and linkedin profile are welcome)</li>
              <li>Examples of your work (e.g. GitHub, PDFs, Slideshare, etc.)</li>
              <li>Tell us a little more about you. OSM, Twitter, Tumblr, Flickr or your website, show us your out-of-work interests</li>
            </ul>

            <p class="careers--apply">
              <a class="btn" href="mailto:info@sagacify.com">Apply</a>
            </p>
          </div>
        </article>

        <div class="careers--noposition">
          <h2 class="careers--noposition--title">No vacancy suited to you?</h2>
          <p class="careers--noposition--paragraph">If you believe you are the person we would like to work with, please send us an email at <a href="mailto:info@sagacify.com?">info@sagacify.com</a> with your resume (+ LinkedIn) along with links to projects you have been working on.</p>
        </div>
      </div>
    </div>
  </section>

<%- include partials/bottom.ejs %>
