<% var selected='careers'%>
<%- include partials/top.ejs %>

	<section class="careers">
		<div class="wrapper">
			<div class="keymessage">
			<h2 class="keymessage--keyphrase">Careers</h2>
			<h3 class="keymessage--tagline">If you think you might be a good fit for us, give us a shout out!</h3>
		</div>
			<div class="onepositioncontent">
				<article class="onepositioncontent--article">
					<figure class="onepositioncontent--article--figure">
						<img src="img/dev/blogpost-pic.jpg" alt="">
					</figure>
					<div class="onepositioncontent--article--text">
						<h2 class="onepositioncontent--article--text--title">Mobile developer</h2>
						<p>Sagacify is a web & mobile development startup, working at the intersection of <strong>data science</strong> and <strong>software development</strong>. As a tech startup, we are inspired by breakthrough innovation, the lean startup methodology, open source technologies and we value high software development quality.</p>
						<p>We are looking for a <strong>Xamarin developer</strong> ready to join a team of passionate computer scientists. We expect each team member to be curious, creative, self-learner, emphatic and experienced.</p>
						<h3 class="onepositioncontent--article--text--subtitle">Required Skills</h3>
						<ul class="onepositioncontent--article">
							<li>Prior Android and/or iOS and/or Windows Phone experiences</li>
							<li>Solid/Strong REST services knowlegde</li>
							<li>Ability to architect complex web applications and API structures</li>
							<li>Experience with SQLite</li>
							<li>Familiar with design patterns like MVC, MVVM,...</li>
						</ul>
						<h3 class="onepositioncontent--article--text--subtitle">Pluses/bonus qualifications</h3>
						<ul class="onepositioncontent--article">
							<li>Experience with Xamarin and/or C#</li>
							<li>Experience with git</li>
							<li>Experience with Agile methodologies</li>
							<li>Passionate about mobile technologies and code the right way</li>
						</ul>
						<h3 class="onepositioncontent--article--text--subtitle">Profile</h3>
						<ul class="onepositioncontent--article">
						 	<li>You thrive on solving complex problems with a combination of code, brute force, and ingenuity.</li>
							<li>Your average week includesworking on mobile developing, architecting and debugging.</li>
							<li>You love writing code.</li>
							<li>You stay current on the latest tech trends.</li>
							<li>You’re a team player who likes to engage with colleagues at a professional and personal level.</li>
							<li>You can handle a high volume of requests with frequent interruptions and prioritize your own work while taking infrastructure and business needs into account.</li>
							<li>Create beautiful quality code that is maintainable and testable.</li>
						</ul>
						<h3 class="onepositioncontent--article--text--subtitle">What We can offer You</h3>
						<ul class="onepositioncontent--article">
							<li>Tech challenges</li>
							<li>Competitive salary</li>
							<li>Flexible hours</li>
							<li>Free coffee, and fruits</li>
							<li>Video gaming during lunch breaks</li>
							<li>No long winding meetings</li>
							<li>Regular team events/excursions</li>
						</ul>
						<a href="mailto:info@sagacify.com" class="btn btn-apply">Apply for this position</a>
					</div>
				</article>
				
				<div class="careers--noposition">
					<h2 class="careers--noposition--title">No vacancy suited to you?</h2>
					<p class="careers--noposition--paragraph">If you believe you are the person we would like to work with, please send us an email at <a href="mailto:info@sagacify.com">info@sagacify.com</a> with your resume (+ LinkedIn) along with links to projects you have been working on.</p>
				</div>
			</div>
		</div>
	</section>

<%- include partials/bottom.ejs %>