<% var selected='expertise'%>
<%- include partials/top.ejs %>
	<section class="services">
		<div class="wrapper">
			<div class="keymessage">
	<h2 class="keymessage--keyphrase">Expertise</h2>
	<h3 class="keymessage--tagline">Expert in Software Development & Data Science harnessing cutting-edge Technology</h3>
</div>
			<ul class="blocks">
				<li class="blocks--element blocks--iconbig data-right" data-left="26" data-top="-1" data-width="10" data-parralax="1">
					<figure class="blocks--image--figure">
						<img src="img/icons/web-dev.svg" alt="Mobile software development">
					</figure>
				</li>
				<li class="blocks--element data-left data--count" data-left="1" data-top="0" data-width="24">
					<h2 class="blocks--element--title">Web Software Development</h2>
					<p class="blocks--element--text">Fast and super responsive web applications are a must if your company wants your application to stand out from the crowd. Sagacify’s web applications excel at providing you with unparalleled <strong>performance</strong>, <strong>user experience</strong> and <strong>interface</strong> - key technical elements that will drive your user attraction and retention.</p>
				</li>
			</ul>
			<ul class="blocks">
				<li class="blocks--element blocks--iconbig data-left" data-left="4" data-top="0" data-width="10" data-parralax="-2" >
					<figure class="blocks--image--figure">
						<img src="img/icons/mobile-dev.svg" alt="Web software development">
					</figure>
				</li>
				<li class="blocks--element data-right data--count" data-left="14" data-top="0" data-width="26" >
					<h2 class="blocks--element--title">Mobile Software Development</h2>
					<p class="blocks--element--text">In today’s mobile-centric world, it makes sense more than ever for companies to create a product with a <strong>mobile-first strategy</strong> that adopts a <strong>multi-platform approach</strong>. You can trust the mobile specialists at Sagacify to help you set up your mobile strategy, build your native mobile applications, whilst keeping the price independent of the number of platforms.</p>
				</li>
			</ul>
			<ul class="blocks">
				<li class="blocks--element blocks--iconbig data-right" data-left="25" data-top="-3" data-width="12" data-parralax="1.5" >
					<figure class="blocks--image--figure">
						<img src="img/icons/data-science.svg" alt="Data science">
					</figure>
				</li>
				<li class="blocks--element data-left data--count" data-left="0" data-top="0" data-width="24">
					<h2 class="blocks--element--title">Data Science</h2>
					<p class="blocks--element--text">
						<strong>Machine Learning</strong> is used to extract critical insights from your data, automate business processes and allows for faster decision making in your company. <br>

						<strong>Natural Language Processing</strong> and <strong>Semantic Analysis</strong> enables computers to understand the meaning behind your complex, unstructured data which can help you make sense of your messy data. <br>

						Our <strong>Data Visualization</strong> capabilities, deployed around your specific business needs, display all relevant information required for your activities, identify trends, inform management, and make data actionable to accelerate your decision-making.
					</p>
				</li>
			</ul>
			<ul class="blocks">
				<li class="blocks--element data-right data--count" data-left="5" data-top="0" data-width="32" >
					<h2 class="blocks--element--title">Our Technology Stack</h2>
					<p class="blocks--element--text">
					Our enterprise-class infrastructure, combined with our <strong>open source</strong> technology stack and groundbreaking data science result in a high-performance, scalable and extremely reliable personalization platform, which maintains customer <strong>data privacy</strong> and <strong>security</strong> as paramount. This cutting-edge technology is faster, more cost effective, more accurate, and can account for the biggest of <strong>big data</strong>.
					</p>
				</li>
			</ul>
<ul class="blocks">
			<li class="blocks--element blocks--iconbig data-right data--count" data-left="0" data-top="3" data-width="42" data-parralax="-1">
					<figure class="blocks--image--figure">
						<img src="img/dev/tech.png" alt="Technology stack">
					</figure>
				</div>
		</li>
		</ul>
	</section>

<%- include partials/bottom.ejs %>
