<%- include partials/top.ejs %>
	<div class="wrapper">
		<div class="keymessage">
	<h2 class="keymessage--keyphrase">Products</h2>
	<h3 class="keymessage--tagline">Smart, Data-Driven, Cutting-Edge</h3>
</div>		<ul class="blocks">
<li class="blocks--element blocks--image blocks--greenshadow data-left data--count" data-width="20" data-left="-1" data-top="0"data-parralax="0.5">
					<figure class="blocks--image--figure">
						<img src="img/dev/kosmio.jpg" alt="kosmio">
					</figure>
				</li>
			<li class="blocks--element data-right topIndex" data-left="16" data-width="18" data-top="2">
				<h2 class="blocks--element--title">Kosmio</h2>
				<p class="blocks--element--text">Kosmio is a <strong>Web Intelligence Assistant</strong> using Internet as a knowledge database to help market analysts discover, monitor and make sense of the vast amount of business information instantly.</p>
				<a href="http://www.kosmio.be" target="_blank"class="btn">Kosmio Website</a>
			</li>

			<li class="blocks--element blocks--iconbig blocks--iconbig--device data-right data--count" data-width="18" data-left="22" data-top="6" data-parralax="-0.05">
				<figure class="blocks--image--figure">
					<img src="img/dev/sagaknow-products-color.svg" alt="SagaKnow">
				</figure>
			</li>
			<li class="blocks--element data-left topIndex" data-left="2" data-width="20" data-top="3">
				<h2 class="blocks--element--title">SagaKnow</h2>
				<p class="blocks--element--text">SagaKnow is a <strong>Cognitive Entreprise</strong> Search engine that securely connects to the sources of knowledge in organisation, identifying the meaning and context of each document, make it searchable and understanding over time expertises and skills of peoples. SagaKnow put your organisation in control of its knowledge!</p>
				<a href="sagaknow.html" class="btn">Learn More</a>
			</li>
			<li class="blocks--element blocks--iconbig blocks--iconbig--device data-left data--count" data-width="8" data-left="8" data-top="2" data-parralax="0.5">
				<figure class="blocks--image--figure">
					<img src="img/icons/machine-learning.svg" alt="SagaKnow">
				</figure>
			</li>
			<li class="blocks--element data-right topIndex" data-left="16" data-width="18" data-top="8">
				<h2 class="blocks--element--title">SagaAsk</h2>
				<p class="blocks--element--text">SagaAsk is an intelligent <strong>Question&Answer</strong> system. It acts like a virtual assistant helping people in an organisation find answers to questions, by automatically asking questions to peoples most likely to know the answer. The more question asked, the more your organisation capitalise knowledge.</p>
				<a href="saga-ask.html" class="btn ">Learn More</a>
			</li>
		</ul>

	</div>

<%- include partials/bottom.ejs %>
