<% var selected='products'%>
<% var title='SagaKnow'%>
<%- include partials/top.ejs %>


	<section class="home">
		<div class="wrapper">
			<div class="keymessage">
				<h2 class="keymessage--keyphrase">SagaKnow</h2>
				<h3 class="keymessage--tagline">Aggregate and structure all your complex data to make it truly searchable, discoverable and collaborative.</h3>
			</div>			
			<ul class="blocksrelativeImp">
				<li class="blocks--element blocks--iconbig">
					<figure class="blocks--image--figure">
						<img src="img/dev/sagaknow.svg" alt="Infographics">
					</figure>
				</li>
				<li class="blocks--element">
					<h2 class="blocks--element--title">Context</h2>
					<p class="blocks--element--text">The volume of online data continues to grow exponentially with every passing day. This bombards us with an overload of information making it increasingly harder to find what is relevant in all that jumble of data.</p>
				</li>
				<li class="blocks--element">
					<h2 class="blocks--element--title">Problem</h2>
					<p class="blocks--element--text">Data is an invaluable resource for any company, but 90% of it is unstructured. Attempts to leverage it often fail due to a lack of technical know-how to understand and exploit complex, unstructured data.</p>
					<p class="blocks--element--text">How can you better organise your company’s content?  How can you keep your head long enough above the water to find what is needed, when you need it? How can you better take advantage of all the information and personnel experience your company has amassed?</p>
				</li>
				<li class="blocks--element">
					<h2 class="blocks--element--title">Solution</h2>
					<p class="blocks--element--text"><strong>SagaKnow</strong>, the next generation smart  enterprise search, uses the latest techniques in machine learning and semantic analysis to create a knowledge graph that connects the dots in your company, mapping the relationships between your people and content. This unearths critical data insights you didn’t even know you were looking for.</p><a href="contact" class="btn">Ask For a Demo</a>
				</li>
			</ul>

		</div>
	</section>

<%- include partials/bottom.ejs %>
