<% var selected='products'%>
<% var title='SagaAsk'%>
<%- include partials/top.ejs %>
	<section class="home">
		<div class="wrapper">
			<div class="keymessage">
	<h2 class="keymessage--keyphrase">SagaAsk</h2>
	<h3 class="keymessage--tagline">A smart Q&A platform bringing knowledge seekers and knowledge experts together</h3>
</div>			<ul class="blocksrelativeImp">
				<li class="blocks--element blocks--iconbig">
					<figure class="blocks--image--figure blocks--iconbig--smaller">
						<img src="img/dev/queryzest.svg" alt="Infographics">
					</figure>
				</li>
				<li class="blocks--element">
					<h2 class="blocks--element--title">Context</h2>
					<p class="blocks--element--text">Innovation basically starts from the interaction and exchange between smart minds. To survive in this fast-paced and competitive global market, companies have to make the most of the pool of employee knowledge and expertise at their disposal. </p>
				</li>
				<li class="blocks--element">
					<h2 class="blocks--element--title">Problem</h2>
					<p class="blocks--element--text">Employees face issues, problems or challenges at work everyday. There is a high probability, however, of the solution to their problem lying in the hands of a colleague working at the same organisation.
                    </p>
					<p class="blocks--element--text">To nurture innovation and collaboration, organisations have to find ways to bring these people together before they waste time trying to find the answer from an external source. </p>
				</li>
				<li class="blocks--element">
					<h2 class="blocks--element--title">Solution</h2>
					<p class="blocks--element--text"><strong>SagAsk</strong> is an intelligent question and answer system. Intelligent in the sense that when a user sends a question, that question is automatically redirected and pushed into the mailbox of people most likely to know the answer.
					</p>
					<p class="blocks--element--text">Using state of the art machine learning and semantic analysis, <strong>SagaAsk</strong> gains deeper insights and learns from user expertise profiles the more questions and answers are submitted to it.</p>
					<p class="blocks--element--text"><strong>SagaAsk</strong> works by default using emails, but can be connected (using Webhooks) to any systems such as entreprise social networks.</p><a href="contact" class="btn">Ask For a Demo</a>
				</li>
			</ul>
		</div>
	</section>

<%- include partials/bottom.ejs %>
