<% var selected='solutions'%>
<%- include partials/top.ejs %>
	<section class="solutions">
		<div class="wrapper">
			<div class="keymessage">
	<h2 class="keymessage--keyphrase">Solutions</h2>
	<h3 class="keymessage--tagline">Agile, Efficient, Intelligent</h3>
</div>			<ul class="blocks">
				<li class="blocks--element blocks--iconbig data--count blocks--iconbig--device data-right" data-left="26" data-top="0" data-width="14" data-parralax="-1">
					<figure class="blocks--image--figure">
						<img src="img/icons/competitive-analytics.svg" alt="Competitive intelligence">
					</figure>
				</li>
				<li class="blocks--element data-left topIndex" data-left="0" data-top="0" data-width="25">
					<h2 class="blocks--element--title">Competitive Intelligence</h2>
					<p class="blocks--element--text">It’s a tough order for companies to continuously monitor tech trends, and even harder to forecast disruptive innovations or emerging competitors. Sagacify’s competitive intelligence solutions enable analysts to monitor the open Web to spot and <strong>forecast tech trends</strong> and depict the <strong>competitive landscape</strong> so they can formulate proactive strategies to counter competition.</p>
				</li>
			</ul>
			<ul class="blocks">
				<li class="blocks--element blocks--iconbig blocks--iconbig--device data-left" data-left="1" data-top="-3" data-width="12" data-parralax="0.8" >
					<figure class="blocks--image--figure">
						<img src="img/icons/watch.svg" alt="Landscaping and environment watch">
					</figure>
				</li>
				<li class="blocks--element data-right topIndex data--count" data-left="14" data-top="0" data-width="25">
					<h2 class="blocks--element--title">Predictive Analytics</h2>
					<p class="blocks--element--text">We develop customised predictive applications for your organization to make it easier for you to decode and <strong>predict customer behaviour</strong>, so you can <strong>reduce churn</strong> and <strong>drive revenue</strong> with precision. Such applications also help with predicting sales, identifying trends, mapping products and segments.</p>
				</li>
			</ul>
			<ul class="blocks">
				<li class="blocks--element blocks--iconbig blocks--iconbig--device data--count data-right" data-left="28" data-top="3" data-width="8" data-parralax="-1" >
					<figure class="blocks--image--figure">
						<img src="img/icons/levelup.svg" alt="Data enrichment">
					</figure>
				</li>
				<li class="blocks--element data-left topIndex" data-left="0" data-top="0" data-width="27">
					<h2 class="blocks--element--title">Recommendation System</h2>
					<p class="blocks--element--text">Our recommendation systems are designed to learn user interests in a system. Based on the collective behaviour of the user base, such systems can <strong>infer</strong> and <strong>predict user interests</strong> such as reading and buying on your web platform. This increases the <strong>personalisation</strong> of your application, making website visits more productive and engaging, creating user dependence, and giving them a reason to return, which increase your conversion rate significantly.</p>
				</li>

			</ul>
			<ul class="blocks">
				<li class="blocks--element blocks--iconbig blocks--iconbig--device data-left" data-left="-1" data-top="-2" data-width="10" data-parralax=".5" >
					<figure class="blocks--image--figure">
						<img src="img/icons/documentary-analytics.svg" alt="Search and discovery">
					</figure>
				</li>
				<li class="blocks--element data-right topIndex data--count" data-left="11" data-top="0" data-width="28">
					<h2 class="blocks--element--title">Knowledge Management & E-Discovery</h2>
					<p class="blocks--element--text">Knowledge fuels business in organisations, making efficient knowledge management crucial to their day-to-day functioning. Sagacify takes knowledge management to the next level with its <strong>intelligent, semantic search engine</strong>, which makes information discovery faster and easier. It learns from user behaviour helping them <strong>unearth valuable resources</strong> in their organisation that might be of interest for them.</p><a href="sagaknow" class="btn">Learn About SagaKnow</a>
				</li>
			</ul>
			<ul class="blocks">
				<li class="blocks--element blocks--iconbig blocks--iconbig--device data-right data--count" data-left="27" data-top="2" data-width="9" data-parralax="-0.3" >
					<figure class="blocks--image--figure">
						<img src="img/icons/rh-analytics.svg" alt="HR analytics">
					</figure>
				</li>
				<li class="blocks--element data-left topIndex" data-left="3" data-top="1" data-width="22">
					<h2 class="blocks--element--title">HR Analytics</h2>
					<p class="blocks--element--text">Interactions on enterprise communication systems and social networks can say a lot about who knows what and who knows who in an organisation. Sagacify can <strong>analyse user interactions</strong> on social networks and other document repository systems to provide insights into overall people skills and knowledge in an organisation. HR managers are then able to discover the <strong>core competencies</strong> and <strong>knowledge experts</strong> of each department.</p>
				</li>
			</ul>

		</div>
	</section>

<%- include partials/bottom.ejs %>
