/*

20/04/2015 | J. Henrotte
_background.scss
Variables for the the Sagaframework

*/


body{
	background-color: $background-color;
}

// @import "compass";

.background {
	position: relative;
	background-color: #31D476;
	background-image: url("../img/dev/illu-homepage.svg"); //fallback
	background-image: url("../img/dev/illu-homepage.svg"), -webkit-linear-gradient(top left, #31D476 0%, #54D1ED 150%);
	background-image: url("../img/dev/illu-homepage.svg"), -o-linear-gradient(top left, #31D476 0%, #54D1ED 150%);
	background-image: url("../img/dev/illu-homepage.svg"), linear-gradient(to bottom right, #31D476 0%, #54D1ED 150%);
	background-size: 870px, cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: -115px;
	z-index: -1;
	min-height: 93vh;
	margin-bottom: 100px;
	.navigation{
		&.active{
			opacity: 1;
		}
		&--list{
			&--element{
				a{
					color: white;
					&.selected{
						color: $title-color;
					}
				}
				@include screen-medium {
					a{
						color: white;
						text-decoration: none;
						font-size: 14px;
						&:hover{
							color: $title-color;
						}
					}
				}
			}
		}
	}
	.keymessage {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		@include font-size(36px);
		color: $title-color;
		margin-bottom: 0;
		h2 {
			img {
				max-width: 170px;
			}
		}
		&--tagline {
			@include font-size(20px);
			font-family: $base-family;
		}
	}
	&--scrolldown {
		border: 2px solid $title-color;
		border-radius: 26px;
		position: absolute;
		bottom: 20px;
		right: 20px;
		width: 26px;
		height: 42px;
		-webkit-backface-visibility: hidden;
		transform: translate(-50%, -50%);
		&:after {
			background-color: $title-color;
			border-radius: 100%;
			content: "";
			position: absolute;
			top: 5px;
			left: 50%;
			margin-left: -2px;
			width: 4px;
			height: 4px;
			opacity: 1;
			transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
			-webkit-animation: scroll 1.5s -1s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
			-moz-animation: scroll 1.5s -1s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
			-ms-animation: scroll 1.5s -1s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
			-o-animation: scroll 1.5s -1s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
		}
	}
	&--scrolldown{
		position: absolute;
		bottom: 20px;
		right: 20px;
		height: 47px;
	}
}

	@keyframes scroll {
		0%, 20% {
			transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
		}
		10% {
			transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
			opacity: 1;
		}
		100% {
			transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
			opacity: 0.01;
		}
	}

	@-webkit-keyframes scroll {
		0%, 20% {
			transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
		}
		10% {
			transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
			opacity: 1;
		}
		100% {
			transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
			opacity: 0.01;
		}
	}