/*

20/04/2015 | J. Henrotte
_fonts.scss
Fonts for the projet Sagaframework

*/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300italic,400italic,700italic,400,300,700);

$base-family           :      'Open Sans', sans-serif;
$base-family-light     :      300;
$base-family-regular   :      400;
$base-family-bold	   :      700;

$title-family          :      'Montserrat', sans-serif;;
$title-family-regular  :      400;
$title-family-bold     :      700;